[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-environ = "*"
dj-database-url = "*"
psycopg2 = "*"
pillow = "*"
django-ckeditor = "*"

[requires]
python_version = "3.8"
