{% extends 'multi/base.html' %}
{% load static %}
{% block title %}Boulder Beat Candidate Quiz{% endblock %}



{% block body %}

<div class="container">
  <div class="card">
     <div class="card-question">
          <p>On Nov. 2, Boulder voters will elect five new members to the nine-member Boulder City Council. Boulder Beat more words go here...</p>
          <hr>
          <p>Take the quiz to see which candidates most closely match your views.</p>
     </div>
  </div>

</div>
<div class="container">
   <!-- get questions -->
   {% for question in question_list %}
   <div class="card">
       <!-- question -->
       <div class="card-question">
           <h2>{{ question.topic|safe }}</h2>
           <p id="question.number" data-id="{{ question.number }}">
               <strong>{{ question|safe }}</strong>
           </p>
       </div>

       <!-- response -->
       <div id="cardResponse" class="card-response">
           {% for response in response_list %}
           {% if question.number == response.question_id %}
           <div id="candidateResponse" class="candidate-response" value="{{ response.response|safe }}" data-response="{{ response.response_id }}" data-candidate="{{ response.candidate_id }}">
               {{ response.response|safe }}
           </div>
           {% endif %}
           {% endfor %}
       </div>
       <!-- detail -->
       {% for response in response_list %}
       {% if question.number == response.response_id %}
       <div id="responseDetail" class="card-detail is-invisible" data-response="{{ response.response_id }}"
           data-candidate="{{ response.candidate_id }}">
           <div class="card-detail-section">
               {% if response %}
               <h6>{{ response.description_heading }}</h6>
               <p>{{ response.description|safe }}</p>
               {% endif %}
               <!-- {% if response.links %}
               <h6>Links heading</h6>
               <a href="#">links</a>
               {% endif %} -->
           </div>
       </div>
       {% endif %}
       {% endfor %}
  
</div>

{% endfor %}

{% endblock %}