{% extends 'multi/base.html' %}
{% load static %}
{% block title %}Boulder Beat Candidate Quiz{% endblock %}

{% block body %}
<div class="px-3 container-md">

  {% for question in question_list %}
  <div class="border rounded-2 p-3 mb-3">

    <!-- question -->
    <div class="mb-1">
      <h2>{{ question.topic|safe }}</h2>
      <p>{{ question.description|safe }}</p>
      <!-- 
        NOTE TO SANDRA:
        The id="question.number" uses a '.' 
        Was this intentional? 
       -->
      <h3 id="questionNumber" data-id="{{ question.number }}">{{ question|safe }}</h3>
    </div>

    <!-- responses -->
    <div id="cardResponse" class="mb-1">
      {% for response in response_list %}
      {% if question.number == response.question_id %}
      <div id="candidateResponse" class="bg-gray-100" value="{{ response.response|safe }}"
        data-response="{{ response.response_id }}" data-candidate="{{ response.candidate_id }}">{{
        response.response|safe }}
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <!-- detail -->
    <div>
      {% for response in response_list %}
      {% if question.number == response.response_id %}
      <div id="responseDetail" data-response="{{ response.response_id}}" data-candidate="{{ response.candidate_id }}">
        <div>
          {% if response %}
          <h6>{{ response.description_heading }}</h6>
          <p>{{ response.description|safe }}</p>
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

  </div>
  {% endfor %}
</div>

{% endblock %}